.jumbotron{
    background-color: #003580;
    color: yellow;
    margin-top: 50px;
}
.card-hotel{
    flex: 14rem;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    border: 2px solid #b0f5f0;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.custom-icon{
    padding-right: 10px;
}
.card-subtitle {
    margin-top: 5px;
}
.card-img-top{
    height: auto;
    max-height: 200px;
}
footer{
    background-color: #003580;
    color: white;
    padding: 10px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}
.card-img-top{
    height: -webkit-fill-available;
}
.justify-text{
text-align: justify;
}
.form-control {
    background-color: #e8faf9   ;
}
.acolor{
    color: yellow;
}
.text-size-large{
    font-size: 4rem;
}
.breadcrumb{
    background-color: #e0faf8;
    border-radius: 2.25rem;
}
.tab-1{
    background-color: orangered;
    color: white;
}
.tab-2{
    background-color: blueviolet;
    color: white;
}
.tab-3{
    background-color: darkblue;
    color: white;
}
.tab-content{
    padding: 15px;
}
.card-header{
    background-color: aliceblue;
}
.background-pop{
    background-image: url("https://www.eplaneteducation.com/wp-content/uploads/2018/09/newsletter-background-web-3.jpeg"); /* The image used */
    color: white;
    background-repeat: round;
    opacity: 0.8;
}
.carousel-inner{
    height: 25rem;
}
.img{
    object-fit: cover;
}
.img-carousel{
    height: -webkit-fill-available;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    background-color: darkblue;
}
.custom-newsletter{
    position: absolute;
    padding: 6rem;
}
.font-custom{
    font-weight: 700;
    color: cyan;
}
.custom-btn{
    color: cyan;
    font-weight: bold;
    border: 2px solid cyan;
    width: fit-content;
}